.main-layout-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}

.movie-card {
  background: #f6f7f7;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
