.movies-list {
  list-style: outside none;
  margin: 0 0 20px 0;
  overflow: hidden;
}

.movie-item {
  float: left;
  padding: 10px;
  width: 100%;
}

.movie-item:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.movie-title {
  font-size: 14px;
  font-weight: 800;
}

.movie-type {
  font-size: 12px;
  font-weight: 300;
}

@media only screen and (min-width: 650px) {
  .movie-item {
    width: 50%;
  }
}
